<template>
  <div class="car-form"
       @click.stop>

    <input type="text"
           class="car-input"
           placeholder="Model"
           v-model="form.model">

    <input type="number"
           class="car-input"
           placeholder="Year"
           v-model="form.year">

    <input type="text"
           class="car-input"
           placeholder="Color"
           v-model="form.color">

    <input type="text"
           class="car-input"
           placeholder="Additional field"
           v-model="form.additional">

    <Select class="car-input"
            v-model="form.audiosystem"
            :reduce="audioSystem => audioSystem.value"
            :options="audioSystemOptions"
            placeholder="Audio System">
    </Select>

    <button @click="$emit('done', form)">Ok</button>
  </div>
</template>

<script>
export default {
  name: 'CarForm',
  props: {
    form: Object
  },
  data() {
    return {
      audioSystemOptions: [
        { label: 'Yes', value: true },
        { label: 'No', value: false },
      ],
    }
  }
}
</script>

<style scoped lang="scss">

.car-form {
  display: flex;
  justify-content: center;

  .car-input {
    width: 17%;
  }
}

</style>
