<template>
  <div class="cars-table__row"
       style="position: relative"
       @mouseover="show"
       @mouseleave="hide">

    <div class="cars-table__cell"
         v-for="(cellValue, index) in row"
         :key="index">
      {{ cellValue || '-' }}
    </div>

    <div class="edit-button-container"
         :class="showSlot ? 'opened' : ''"
         v-if="showEditButton">

      <div class="background">
        <div class="edit-button"
             v-if="!showSlot"
             @click="toggleSlot">
          <span>Edit</span>
        </div>

        <slot v-if="showSlot"></slot>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'CarTableRow',
  props: {
    row: Array,
  },
  data() {
    return {
      showEditButton: false,
      showSlot: false
    }
  },
  methods: {
    show() {
      this.showEditButton = true;
    },
    hide() {
      this.showEditButton = false;
    },
    toggleSlot() {
      this.showSlot = !this.showSlot;
      this.$emit('editClicked')
    }
  },
  watch: {
    showEditButton(val) {
      if (!val) {
        this.showSlot = val;
      }
    },
  }
}
</script>

<style lang="scss">

  .edit-button-container {
    position: absolute;
    padding: 30px;
    left: -40px;
    bottom: -70px;

    .edit-button {
      padding: 12px 25px;
      border: 1px solid grey;
      position: relative;
      z-index: 1;
      background-color: #ddddddf0;
      cursor: pointer;
    }
    &.opened {
      top: 0;
      position: absolute;
      padding: 30px 30px 230px 30px;
      left: -60px;
      z-index: 2;
      width: 20%;

      .background {
        padding: 3px;
        background-color: #a9a9a9;
      }

      .car-form {
        flex-direction: column;

        .car-input, button {
          width: initial;
          height: 30px;
        }
        input.car-input {
          padding-left: 6px;
        }
      }
    }
  }

</style>
