<template>
  <div class="cars-container">
    <div class="cars-table">
      <div class="cars-table__row">
        <div class="cars-table__head"
             v-for="(displayColumn, index) in displayColumns"
             :key="index">
          {{ displayColumn.label }}
        </div>
      </div>

      <CarTableRow v-for="car in carsByDisplayColumns"
                   :key="car.id"
                   :row="car.row"
                   v-on:editClicked="$emit('selected', car.id)">
        <slot></slot>
      </CarTableRow>

    </div>
  </div>
</template>

<script>
import CarTableRow from './CarTableRow.vue';


export default {
  name: 'CarTable',
  components: {
    CarTableRow
  },
  props: {
    displayColumns: Array,
    cars: Array,
  },
  computed: {
    displayColumnsValues() {
      return this.displayColumns.map(column => column.value)
    },
    carsByDisplayColumns() {
      return this.cars.map((car) => {
        return {
          id: car.id,
          row: this.displayColumnsValues.map(columnName => car[columnName] || null)
        };
      });
    },
  }
}
</script>

<style lang="scss">

  .cars-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;

    .cars-table {
        display: block;
        width: 100%;
    }
    .cars-table__row{
        clear: both;
    }
    .cars-table__head {
        background-color: #DDD;
        font-weight: bold;
    }
    .cars-table__cell, .cars-table__head {
        border: 1px solid #999999;
        float: left;
        height: 17px;
        overflow: hidden;
        padding: 6px 0;
        width: 24.5%;
    }
    .cars-table:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
  }

</style>
