<template>
  <v-select class="custom-select"
            :value="selectedValue"
            :options="options"
            :clearable="false"
            :searchable="false"
            :placeholder="placeholder"
            @input="setSelected">
  </v-select>
</template>

<script>
export default {
  name: 'Select',
   model: {
    prop: 'selected',
    event: 'change'
  },
  props: {
    selected: Boolean,
    options: Array,
    reduce: Function,
    placeholder: String,
  },
  computed: {
    selectedValue() {
      return this.options.find(option => this.reduce(option) === this.selected);
    }
  },
  methods: {
    setSelected(option) {
      this.$emit('change', this.reduce(option));
    }
  }
}
</script>

<style lang="scss">
  .custom-select.v-select {
    background-color: white;
  }

  .custom-select .vs__search::placeholder {
    font-size: 0.8em;
    color: #7b7b7b;
  }

</style>
