<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" height="50px" width="50px">

    <div class="options-section">
      <Checkbox v-for="option in columnOptions"
                :key="option.name"
                v-model="option.isSelected">
        {{ option.label }}
      </Checkbox>
    </div>

    <div class="color-options-section">
      <label class="label">Color</label>
      <v-select v-model="selectedColor"
                :options="colorOptions"
                :clearable="false">
      </v-select>
    </div>

    <div class="cars-section">
      <CarTable :displayColumns="selectedColumnOptions"
                :cars="carsToDisplay"
                v-on:selected="selectCar($event)">
        <CarForm :form="editingCar.form"
                 v-on:done="editCar()">
        </CarForm>
      </CarTable>

      <CarForm class="cars-section__create"
               :form="newCar"
               v-on:done="addCar()">
      </CarForm>
    </div>

  </div>
</template>

<script>
import Vue from 'vue';
import { uniq, isNull } from 'lodash';

import { Car } from './models/Car';
import CarTable from './components/CarTable';
import CarForm from './components/CarForm';
import Checkbox from './components/Checkbox';


export default {
  name: 'app',
  components: {
    CarTable,
    CarForm,
    Checkbox,
  },
  data() {
    const defaultSelectedColor = 'all';

    return {
      defaultSelectedColor,
      selectedColor: defaultSelectedColor,
      newCar: new Car(),
      editingCar: { id: null, form: null },
      columnOptions: [
        { label: 'Model', value: 'model', isSelected: true },
        { label: 'Year', value: 'year', isSelected: true },
        { label: 'Color', value: 'color', isSelected: true },
        { label: 'AudioSystem', value: 'audiosystem', isSelected: true },
      ],
      cars: [
        { model: 'audi', year: 2016, color: 'red', audiosystem: true },
        { model: 'reno', year: 2017, color: 'blue', audiosystem: true },
        { model: 'ford', year: 2019, color: 'red', audiosystem: false },
        { model: 'bmw', year: 2018, color: 'green', audiosystem: false },
      ],
    }
  },
  computed: {
    colorOptions() {
      return [
        this.defaultSelectedColor,
        ...uniq(this.cars.map(car => car.color).filter(car => !!car))
      ];
    },
    selectedColumnOptions() {
      return this.columnOptions.filter(option => option.isSelected);
    },
    carsByColor() {
      if (this.selectedColor === this.defaultSelectedColor) {
        return this.cars;
      }
      return this.cars.filter(car => car.color === this.selectedColor);
    },
    carsToDisplay() {
      return this.carsByColor.map(car => ({
        ...car,
        audiosystem: isNull(car.audiosystem) ? car.audiosystem : car.audiosystem ? 'yes' : 'no' }));
    }
  },
  methods: {
    addCar() {
      this.cars.push(this.newCar);
      this.newCar = new Car();
    },
    selectCar(id) {
      this.editingCar = {
        id,
        form: new Car(this.cars.find(car => car.id === id))
      }
    },
    editCar() {
      Vue.set(
        this.cars,
        this.cars.findIndex(car => car.id === this.editingCar.id),
        new Car(this.editingCar.form)
      );
    },
  },
  created() {
    this.cars = this.cars.map(car => new Car(car));
  }
}
</script>

<style lang="scss">

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 40px;

    .options-section {
      display: flex;
      justify-content: center;
      margin-top: 35px;

      .labeled-checkbox {
        margin-left: 10px;

        &__label {
          margin-right: 5px;
        }
      }
    }

    .color-options-section {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      .label {
        margin: 8px 12px 0 0;
      }

      .v-select {
        width: 200px;
      }
    }

    .cars-section {
      margin-top: 35px;

      &__create {
        margin: 40px auto;
        max-width: 1065px;
      }
    }
  }

</style>
